<br>
<div style="text-align:center; padding:10px; font-family: 'Pangolin';
        font-size: 22px;">
  <label for="Managers">This Project's Managers</label>
</div>
<br>
<ul class="list-group">
  {{#each managers}}
    <form class="form-control" action="/projects/{{project_id}}/managers/{{manager_id}}?_method=DELETE" method="post">
      <div class="row">
        <div class="col-md-9">
          <a href="/managers/{{manager_id}}" class="list-group-item">{{name}}</a>
        </div>
        <div style="text-align:center" class="col-md-3">
          <button style="margin-top:15px;"class="btn btn-danger btn-sm" type="submit">Delete</button>
        </div>
      </div>
    </form>
  {{/each}}
</ul>
<hr>
<br>
  <div style="text-align:center; padding:10px; font-family: 'Pangolin';
          font-size: 22px;">
    <label for="Project Managers">Other Project Managers</label>
  </div>
<br>

<ul class="list-group">
  {{#each other_managers}}
    <form class="form-control" action="/projects/{{@root.project}}/managers/{{id}}" method="post">
      <div class="row">
        <div class="col-md-9">
          <a href="/managers/{{id}}" class="list-group-item">{{name}}</a>
        </div>
        <div style="text-align:center" class="col-md-3">
          <button style="margin-top:15px;"class="btn btn-primary btn-sm" type="submit">Add</button>
        </div>
      </div>
    </form>
  {{/each}}
</ul>
