<div class="jumbotron">
  <h1 class="display-4">{{title}}</h1>
  <p class="lead">{{description}}</p>
  <hr class="my-4">
  <p>Approximate Finish Time: {{eta}}</p>
  <p>Done: {{done}}</p>
  <div class="form-group">
    <a class="btn btn-primary btn-md " href="/projects/{{id}}/tasks" role="button">Tasks</a>
    <a class="btn btn-warning btn-md " href="/projects/{{id}}/edit" role="button">Edit</a>
    <a class="btn btn-info btn-md " href="/projects/{{id}}/managers" role="button">Managers</a>
  </div>
</div>
