<div class="jumbotron">
  <h1 class="display-4">{{title}}</h1>
  <p class="lead">{{description}}</p>
  <hr class="my-4">
  <p>Approximate Finish Time: {{eta}}</p>
  <p>Done: {{done}}</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/projects/{{id}}/tasks" role="button">See Tasks</a>
  </p>
</div>
