<div class="jumbotron">
  <h1 class="display-4">{{title}}</h1>
  <p class="lead">{{description}}</p>
  <hr class="my-4">
  <p>Start Date: {{start_date}}</p>
  <p>Duration: {{duration}}</p>
  <p>Project ID: {{project_id}}</p>
  <p>Done:{{done}}</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/projects/{{id}}/tasks" role="button">Delete Task</a>
  </p>
</div>
