<div class="jumbotron">
  <h1 class="display-4">{{title}}</h1>
  <p class="lead">{{description}}</p>
  <hr class="my-4">
  <p>Start Date: {{start_date}}</p>
  <p>Duration: {{duration}}</p>
  <p>Project ID: {{project_id}}</p>
  <p>Done:{{done}}</p>
  <!--<form class="form-group" action="/projects/{{project_id}}/tasks/{{id}}?_method=DELETE" method="post">
    <a class="btn btn-warning btn-md " href="/projects/{{project_id}}/tasks/{{id}}/edit" role="button">Edit</a>
    <button style="margin-top:5px;" class="btn btn-danger btn-md" type="submit" name="button" role="button">Delete</button>
  </form>-->
  <form class="form-group" action="/tasks/{{id}}?_method=DELETE" method="post">
    <a class="btn btn-warning btn-md " href="/tasks/{{id}}/edit" role="button">Edit</a>
    <button style="margin-top:5px;" class="btn btn-danger btn-md" type="submit" name="button" role="button">Delete</button>
  </form>
</div>
