<div class="jumbotron">
  <h1 class="display-4">{{manager.name}}</h1>
  <hr class="my-4">
  <p>E-mail: {{manager.email}}</p>

  <ul class="list-group">
    {{#each projects}}
      <a href="/projects/{{project_id}}" style="background-color:#CC3232; color:white; opacity:0.90" class="list-group-item">{{title}}</a>
    {{/each}}
  </ul>
  <form class="form-group" action="/managers/{{manager.id}}?_method=DELETE" method="post">
    <a class="btn btn-warning btn-md " href="/managers/{{id}}/edit" role="button">Edit</a>
    <button style="margin-top:5px;" class="btn btn-danger btn-md" type="submit" name="button" role="button">Delete</button>
  </form>
</div>
