<br>
<div style="text-align:center; padding:10px; font-family: 'Pangolin';
        font-size: 48px;">
  <label for="Tasks">All Tasks</label>
  <hr>
</div>
<br>
<ul class="list-group">
  {{#each tasks}}
    <!--<a href="/projects/{{project_id}}/tasks/{{id}}" style="background-color:#CC3232; color:white; opacity:0.90" class="list-group-item">{{title}}</a>-->
    <a href="/tasks/{{id}}" style="background-color:#CC3232; color:white; opacity:0.90" class="list-group-item">{{title}}</a>
  {{/each}}
</ul>
<div style="text-align:center; margin-top:10px" class="row">
  <div class="col-md-5">
  </div>
  {{#if canCreate}}
    <div class="col-md-1">
      <a class="btn btn-primary btn-md" href="/projects/{{project_id}}/tasks/new">
        New Task
      </a>
    </div>
  {{/if}}
</div>
